.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 242, 233);
  height: 9.6rem;
  position: relative;
  padding: 0px 4.8rem;
}

.header li {
  list-style: none;
}

.logomenu {
  width: 22rem;
  height: 9rem;
}
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.section-hero {
  background-color: rgb(253, 242, 233);
  padding: 4.8rem 0px 9.6rem;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0px auto;
  padding: 0px 3.2rem;
  gap: 9.6rem;
}

.hero-text {
  width: 100%;
}

.hero-img {
  max-width: 100%;
}

.heading-h2 {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(230, 126, 34);
  color: rgb(255, 255, 255);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: rgb(255, 255, 255);
  color: rgb(85, 85, 85);
}

.section-featured {
  padding: 4.8rem 0px 3.2rem;
}

.container {
  max-width: 120rem;
  padding: 0px 3.2rem;
  margin: 0px auto;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: rgb(136, 136, 136);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

.section-meals {
  padding: 9.6rem 0px;
}

.container {
  max-width: 120rem;
  padding: 0px 3.2rem;
  margin: 0px auto;
}

.meal {
  box-shadow: rgba(0, 0, 0, 0.075) 0px 2.4rem 4.8rem;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.meal-img {
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag--vegetarian {
  background-color: rgb(81, 207, 102);
}

.tag--paleo {
  background-color: rgb(255, 212, 59);
}

.tag--vegan {
  background-color: rgb(148, 216, 45);
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
}

.meal-title {
  font-size: 2.4rem;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: rgb(230, 126, 34);
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.section-testimonials {
  background-color: rgb(253, 242, 233);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(207, 113, 31);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s ease 0s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.footer {
  padding: 12.8rem 0px;
  border-top: 1px solid rgb(238, 238, 238);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 7.2rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  color: rgb(118, 118, 118);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: rgb(118, 118, 118);
  margin-top: auto;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.4rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
